# Supabase
SUPABASE_URL=https://srlzfwntjqvnybzbcebh.supabase.co
SUPABASE_KEY=sb_publishable_k0RUjjK2l2ph94EfjQ7QEg_57611DA6
SUPABASE_SECRET=your_supabase_secret_key

# Discord
TOKEN=your_discord_bot_token
CLIENT_ID=1510868255185702912
CLIENT_SECRET=7GTKOBGAOqhve6OOW0ewdJPVlU40BzTX
OWNER_ID=1101811921340080148

# Dashboard
DASHBOARD_URL=http://localhost:3000
SESSION_SECRET=your_session_secret

# APIs
YOUTUBE_API_KEY=AIzaSyBAvR5d0v99OXdQH_EbX2b8IzQfoq4Y_Xg
SPOTIFY_CLIENT_ID=8db9440788404208afb4f7143fed88d9
SPOTIFY_CLIENT_SECRET=d1105f11608d4491b50ebf837
